.header {
  margin-bottom: 20px;
  &-content{
    align-items: center;
    gap: 70px;
  }
  &-mobile{
    flex-direction: column;
    background: #24814A;
    padding: 12px 0 7px;
  }
}

.header-content.container {
  width: 100%;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;

  @include for-desktop-max{
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: 'IBM',sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  @include for-desktop-max{

    text-align: left;
  }
  &-title{
    padding: 0 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 70px;
    font-weight: 500;
    background: linear-gradient(218.82deg, rgba(23, 144, 68, 0.2) -3.31%, rgba(255, 255, 255, 0.2) 89.97%), #FFFFFF;
    box-shadow: 0 10px 40px rgba(34, 34, 34, 0.1);
    border-radius: 20px;
    @include for-desktop-max{
      all:unset;
      width: 100%;
      color:#FFCF55;
      text-transform: uppercase;
      font-weight: bold;

      font-size: 16px;
      line-height: 21px;
    }
  }
  &-content {
    width: 250px;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%,100%);
    display: none;
    position: absolute;
    background: linear-gradient(218.82deg, rgba(23, 144, 68, 0.2) -3.31%, rgba(255, 255, 255, 0.2) 89.97%), #FFFFFF;;
    border-radius: 20px;
    z-index: 1;
    animation-duration: 0.4s;
    animation-name: opacityIn;
    @include for-desktop-max{
      all:unset;
      width: 100%;
      color:#FFFFFF;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      display: flex;
      flex-direction: column;
    }
    &::before{
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translate(-50%,0);
      content:'';
      height: 10px;
      width: 250px;
      @include for-desktop-max{
        display: none;
      }
    }
  }
  &-element{
    width: 100%;
    &--link{
      width: 100%;
      padding: 15px 0;
      @include for-desktop-max{
        padding: 0;
        text-align: left;
      }
    }
    &:not(:last-child){
      border-bottom:1px solid #C4CFC6;
      @include for-desktop-max{
        border-bottom: none;
      }
    }
    @include for-desktop-max{
      display: flex;
      margin: 20px 0;
      gap: 20px;
      &::before{
        content: url("../images/list-icon.svg");
      }
    }
  }
  &:hover &-content {
    display: block;
  }
}
.active{
  position: relative;
  z-index: 1;
  .dropdown-title{
    background: linear-gradient(118.88deg, #FFE39D -25.4%, #FFB700 84.89%);

    @include for-desktop-max{
      background: none;
    }
  }
  &::after{
    position: absolute;
    top: 100%;
    content: '';
    width: 16px;
    height: 16px;
    background: linear-gradient(118.88deg, #FFE39D -25.4%, #FFB700 84.89%);
    transform:translate(0,-50%) rotate(-45deg);
    z-index: -1;
    @include for-desktop-max{
      display: none;
    }
  }
}

@include for-phone-big{
  .header{
    &-desktop{
      display: none;
    }
    &-mobile{
      display: flex;
    }
  }
}
@include for-desktop{
  .header{
    &-desktop{
      display: flex;
    }
    &-mobile{
      display: none;
    }
  }
}
@include for-desktop-max{
  .header{
    &-desktop{
      display: none;
    }
    &-mobile{
      display: flex;
    }
  }
}
//burger
#menu__toggle {
  display: none;
  &:checked{
    &~.menu__btn{
      position: fixed;
    }
    &~ .menu__btn > span {
      transform: rotate(45deg);
    }
    &~ .menu__btn > span::before {
      top: 0;
      transform: rotate(0);
    }
    & ~ .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    & ~ .menu__box {
      display: flex;
      left: 0;
    }
  }
}
.menu{
  &__btn {
    display: flex;
    align-items: center;
    position: absolute;
    left:19px;
    top:22px;
    width: 22px;
    height: 16px;
    cursor: pointer;
    z-index: 101;
  }

  &__btn > span,
  &__btn > span::before,
  &__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    transition-duration: .25s;
  }

  /* adding "hamburger" */
  &__btn > span::before {
    content: '';
    top: -8px;
  }
  &__btn > span::after {
    content: '';
    top: 8px;
  }
//menu  content
  &__box{
    display: none;
    transition-duration: .25s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: #269653;
    flex-direction: column;
    align-items: center;
    padding: 12px 30px;
    &::after{
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%,-50%);
      content: url("../../images/preview-gradient.png");
      z-index: -1;
    }
  }
}


@keyframes opacityIn {
  from {
    opacity: 0;
  }

  to {
    opacity:1;
  }
}