.header {
  margin-bottom: 20px;
}

.header-content.container {
  width: 100%;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  background-color: #24814A;

  &--img {
    display: block;
    width: 100px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 95%;
  margin: 0 auto;
  padding: 20px 0;
  overflow: auto;

  &--link {
    width: auto;
    flex-shrink: 0;
    position: relative;
    font-weight: 500;
    font-size: 14px;

    &-content {
      width: 100%;
      height: 100%;
      padding: 15px;
      min-height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: linear-gradient(218.82deg, rgba(23, 144, 68, 0.2) -3.31%, rgba(255, 255, 255, 0.2) 89.97%), #FFFFFF;
      border-radius: 20px;
    }

    &:not(:last-child) {
      margin-right: 8px;
    }

    &-label {
      display: inline-block;
      margin-left: 10px;
      padding: 4px;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 700;
      background-color: var(--color-primary);
      border-radius: 12px;
    }
  }

  &--link.active {
    .header-nav--link-content {
      background: linear-gradient(118.88deg, #FFE39D -25.4%, #FFB700 84.89%);
    }

    .header-nav--link-label {
      background-color: #FFFFFF;
      box-shadow: none;
    }
  }
}

@include for-desktop-sm {
  .header {
    padding: 20px 30px;
    margin-bottom: 0;

    .header-content {
      width: 100%;
    }
  }

  .header-logo {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 195px;
    margin: 0 auto 40px auto;
    background-color: transparent;

    &--img {
      width: 100%;
    }
  }

  .header-nav {
    align-items: stretch;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    overflow: visible;
  }

  .header-nav--link {
    max-width: 200px;
    flex-grow: 1;
    flex-shrink: 1;
    box-shadow: 0 10px 40px rgba(34, 34, 34, 0.1);

    &-content {
      padding-left: 5px;
      padding-right: 5px;
    }

    &:not(:last-child) {
      margin-right: 10px;
      margin-bottom: 0;
    }

    &.active {
      .header-nav--link-content {
        position: relative;
        z-index: 1;
      }

      .header-nav--link-label {
        display: none;
      }

      &:after {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        left: calc(50% - 8px);
        bottom: -8px;
        transform: rotate(45deg);
        background: linear-gradient(325deg, #FFE39D -80%, #FFB700 84.89%);
        z-index: 0;
      }
    }
  }

  .header-nav--link-label {
    position: absolute;
    margin-left: 0;
    transform: translateX(50%);
    right: 50%;
    bottom: -11px;
  }
}

@include for-desktop {
  .header {
    .header-content {
      width: 100%;
    }
  }
}
