.main-preview {
  text-align: center;

  &--bg {
    background-image: url("../../images/main-bg.png"), var(--gradient-preview-bg);
    background-size: 1920px;
    background-repeat: no-repeat;
    background-position: top center;
  }

  &--img {
    width: 130px;
    margin-bottom: 15px;
  }

  &--description {
    margin-bottom: 15px;
  }

  &--inside {
    padding: 20px 10px;
    max-width: 600px;
    margin: 0 auto 20px auto;
    font-size: 18px;
    line-height: 170%;
    color: var(--color-light);
    background: linear-gradient(180deg, #FBB03B 3.8%, #179048 84.42%);
    border-radius: 20px;
  }

  &--title {
    margin-bottom: 50px;
  }
  &--subtitle {
    font-family: "IBM", sans-serif;
    color:var(--color-primary);

    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
    &-dot{
      font-weight: 400;
      color: #FFFFFF;
    }
    margin-bottom: 50px;
  }

  @include for-desktop-sm {
    &--container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }


    &--img {
      width: 215px;
      order: 3;
    }

    &--description {
      max-width: 1000px;
      order: 2;
    }

    &--inside {
      font-size: 24px;
      font-weight: 700;
      order: 4;
    }
  }

  @include for-desktop-big {
    &--bg {
      background-size: 100%;
    }
  }
  @include for-desktop-sm-max{

    &--title {
      margin-bottom: 25px;
    }
    &--subtitle {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }
}