@font-face {
  font-weight: 700;
  font-family: "IBM";
  src: url("../fonts/IBMPlexSans-Bold.ttf");
}

@font-face {
  font-weight: 500;
  font-family: "IBM";
  src: url("../fonts/IBMPlexSans-Medium.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "IBM";
  src: url("../fonts/IBMPlexSans-Regular.ttf");
}

@font-face {
  font-weight: 300;
  font-family: "IBM";
  src: url("../fonts/IBMPlexSans-Light.ttf");
}
