.ecommerce {
  position: relative;
}

.ecommerce-bg {
  background-color: var(--secondary-block-bg);
}

.ecommerce-title {
  margin-top: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 40px;
  color: var(--color-primary);
  text-align: center;
}

.ecommerce-img {
  display: block;
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
}

.ecommerce-empty {
  display: none;
}

.ecommerce-desktop-img {
  display: none;
}

@include for-desktop-sm {
  .ecommerce-bg {
    background-image: url("../../images/ecommerce-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .ecommerce-footer {
    background-color: transparent;
  }

  .ecommerce-content {
    padding-bottom: 450px;
  }

  .ecommerce-title {
    font-size: 70px;
  }

  .ecommerce-empty {
    display: block;
    position: relative;
    height: 350px;
  }

  .ecommerce-img {
    display: none;
  }

  .ecommerce-desktop-img {
    display: block;
    position: absolute;
    bottom: 55%;
    left: calc(50% - 375px);
    right: 0;
    width: 730px;
    pointer-events: none;
  }
}
