doctype html
html
  include ../../includes/head
  body
    div.preview-bg.real-estate--bg
      img.preview-bg--gradient(src="./images/preview-gradient.png" alt="Preview")
      include ../../includes/header/header
      +header
      section.preview-content.real-estate--content
        div.container.real-estate--container
          h1.preview-title.real-estate--title
            span.preview-label REAL ESTATE
          p.real-estate--description CratD2C Blockchain Protocol integrates the use of Blockchain Protocol in simplifying the need to offer an outstanding portfolio in Real Estate for residential and commercial usage with an extensive range of additional services through the realism of direct to a consumer economy.
          img.real-estate--img(src="./images/estate-building.png" alt="Real estate")
          p.real-estate--subdescription With CratD2C Blockchain Protocol effective collaboration with top players in Real Estate, Targeted consumers will be able to purchase their dream homes through CratD2C Real Estate Platform using CRAT Token as a means of payment.
    include ../../includes/roadmap/roadmap
    include ../../includes/footer/footer

    script(src="./js/roadmap.js")