doctype html
html
  include ../../includes/head
  body
    div.preview-bg.partners--bg
      img.preview-bg--gradient(src="./images/preview-gradient.png" alt="Preview")
      include ../../includes/header/header
      +header(5)
      section.preview-content.partners--content
        div.container.partners--container
          h1.preview-title.partners--title
            span.preview-label PARTNERS
          p.partners--description CratD2C Blockchain Protocol understands the need to boost the horizon of Global e-commerce as sales growth will continue to rise and take up more share.
          img.partners--img(src="./images/handshake.png" alt="Partners")
          p.partners--info.partners--info-first According to eMarketer, e-commerce sales will reach
            span.partners--info-label &nbsp;$6.39 trillion&nbsp;
            | by 2024, and projection is expected to grow. As a result, more people now find it easier to shop through the internet. A Reward System to help accelerate such hope and aspiration of both the end-users and the manufacturers will be a delight to all. CratD2C REWARD SYSTEM is a mechanism with a robust technique of rewarding three players on the CratD2C E-commerce Platform, CratD2C Real Estate Platform, and CRAT Ambassadorial System.
          h4.partners--subtitle A Partner is a middle man with much interest in reaching out to the world with the goodwill of the CratD2C Blockchain Protocol Platform.
          p.partners--info.partners--info-second After successful transactions on the CratD2C Platform as a consumer, the right as Partner is assigned with customized tools to refer friends and family to CratD2C Trading Platforms and rewards are paid with CRAT Token(s) after every successful transaction on CratD2C E-commerce Trading Platform, CratD2C Real Estate Platform, and CRAT Ambassadorial System.
          p.partners--promo CRAT Ambassadorial System will be effective from Q1 First Quarter of 2022.
    include ../../includes/roadmap/roadmap
    include ../../includes/footer/footer

    script(src="./js/roadmap.js")